body{
    background-color: aquamarine;
    font-family: arial;
}
img{
    width:200px;
    height:300px;
}
#centreImage{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}